.checkout-form__title {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.checkout-form > *:not(:last-child) {
  margin-bottom: 3rem;
}

.checkout-form__options {
  display: flex;
  align-items: center;
}

.checkout-form__option {
  display: flex;
  align-items: center;
}

.checkout-form__option:first-child {
  margin-right: 3rem;
}

.checkout-form__label {
  font-size: 1.4rem;
  cursor: pointer;
}

.checkout-form__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-form__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
}

.checkout-form__container:first-child {
  margin-right: 4rem;
}

.checkout-form__required {
  color: #ff0000;
}

.registration-form__wrapper {
  position: relative;
  flex: 1 1 50%;
}

.registration-form__wrapper::after {
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 1.4rem;
  color: var(--color-gray);
  font-family: var(--font-icon);
  font-size: 1.4rem;
  font-weight: 900;
  transform: translateY(-50%);
  pointer-events: none;
}

.checkout-form__select {
  width: 100%;
  height: 3.4rem;
  padding: 0.6rem 5rem 0.6rem 1.2rem;
  background-color: var(--color-gray-lighter);
  border: 1px solid var(--color-gray-lighter);
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.checkout-form__select:focus {
  border: 1px solid var(--color-blue);
}

.checkout-form__btn {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem !important;
}
