@import url("./styles/variables.css");
@import url("./styles/utils.css");

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-black);
  font-family: var(--font-main);
  font-size: 10px;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

input,
select,
button,
textarea {
  color: var(--color-black);
  font-family: inherit;
  border: none;
  outline: none;
}

input::placeholder {
  color: var(--color-black);
}

button {
  background-color: transparent;
}
