.forgot-form__title {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.forgot-form > *:not(:last-child) {
  margin-bottom: 3rem;
}

.forgot-form__container {
  display: flex;
  flex-direction: column;
}

.forgot-form__btn {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem !important;
}
