.login-form__title {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.login-form > *:not(:last-child) {
  margin-bottom: 3rem;
}

.login-form__container {
  display: flex;
  flex-direction: column;
}

.login-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form__link {
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color 350ms;
}

.login-form__link:hover {
  color: var(--color-blue);
}

.login-form__btn {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem !important;
}
