.login-form > *:not(:last-child) {
  margin-bottom: 3rem;
}

.login-form__container {
  display: flex;
  flex-direction: column;
}

.login-form__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-form__option {
  display: flex;
  align-items: center;
}

.login-form__forgot {
  transition: color 350ms;
}

.login-form__forgot:hover {
  color: var(--color-blue);
}

.login-form__btn {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem !important;
}
