.checkout {
  position: relative;
  flex: 1;
  padding: 7rem 0;
  background-color: var(--color-background);
}

.checkout__title {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: normal;
}

.checkout__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.checkout__information {
  flex: 1 1 32%;
  margin-right: 5.5rem;
}

.checkout__form {
  flex: 1 1 68%;
}
