.drivers-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin-bottom: 1.5rem;
}

.drivers-form__text {
  margin-bottom: 1.5rem;
  color: var(--color-gray);
  font-size: 1.4rem;
}

.drivers-form__input {
  margin-right: 1.5rem;
}

.drivers-form__input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.4);
  cursor: pointer;
}

.drivers-form__btn {
  padding: 0.8rem 1.2rem;
  font-size: 1.4rem !important;
  white-space: nowrap;
}
