.container {
  margin: 0 auto;
  width: 90%;
}

.container--large {
  max-width: 160rem;
}

.container--small {
  max-width: 130rem;
}

.btn {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: color 350ms, background-color 350ms;
}

.btn--transparent {
  padding: 1rem 1.6rem;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}

.btn--transparent:hover {
  color: #fff;
  background-color: var(--color-blue);
}

.btn--filled {
  color: #fff;
  background-color: var(--color-blue);
}

.input {
  width: 100%;
  padding: 0.6rem 5rem 0.6rem 1.2rem;
  background-color: var(--color-gray-lighter);
  border: 1px solid var(--color-gray-lighter);
}

.input:focus {
  border: 1px solid var(--color-blue);
}

.checkbox {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
}

.checkbox:not(:checked) {
  border: 1px solid var(--color-black);
  border-radius: 0.4rem;
  appearance: none;
  -webkit-appearance: none;
}

.label {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.label--small {
  margin: 0;
  font-size: 1.2rem;
}
