.container {
  margin: 0 auto;
  width: 100%;
}

.container--large {
  max-width: 160rem;
}

.container--small {
  max-width: 130rem;
}

.btn {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: color 350ms, background-color 350ms;
}

.btn--transparent {
  padding: 1rem 1.6rem;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
}

.btn--transparent:hover {
  color: #fff;
  background-color: var(--color-blue);
}

.btn--filled {
  color: #fff;
  background-color: var(--color-blue);
}
